.fill {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px); // mobile header height
}

@media (min-width: 550px) {
  .fill {
    min-height: calc(100vh - 144px); // desktop header height
  }
}

.main {
  flex: 1;
}

.footer {
  // background-image: url('/s/evergreens.png');
  // background-position: bottom left;
  // background-color: var(--champagne-pink);
  display: grid;
  place-items: center;
  position: relative;
  padding-block: 50px;

  .withLove {
    color: var(--ivory);
    opacity: 0.6;
    font-size: 0.75rem;

    position: absolute;
    bottom: 20px;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    right: 8%;
    text-align: center;

    i {
      color: #a38a00;
    }
  }
}
