.fill {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px); // mobile header height
}

@media (min-width: 550px) {
  .fill {
    min-height: calc(100vh - 144px); // desktop header height
  }
}

.main {
  flex: 1;
}

.footer {
  background-image: url('/s/evergreens.png');
  background-position: bottom left;
  height: 375px;
}
