.heading {
  font-family: var(--font-family-heading);

  margin: 0.25em 0;
}

.heading1 {
  font-size: 1.75rem;
}

.heading2 {
  font-size: 1.5rem;
}

.heading3 {
  font-size: 1.25rem;
}

.body {
  font-family: var(--font-family-body);
  font-weight: 300;
}

.body1 {
  font-size: 1.25rem;
  line-height: 1.5;
}

.body2 {
  font-size: 1rem;
  line-height: 1.5;
}

.body3 {
  font-size: 0.875rem;
  line-height: 1.5;
}
