.logo {
  display: flex;
  align-items: center;
  height: 60px;
}

.john,
.molly {
  font-size: 1.5rem;
}

.john {
  margin-right: 6px;
}

.molly {
  margin-left: 1px;
}

.heartpersand {
  stroke: var(--foreground-primary);
}
