.homeContainer {
  text-align: center;
}

.splashImage {
  position: relative;
  max-width: min(1100px, 95%);
  aspect-ratio: 4 / 5;
  margin: 0 auto;
}

.teaserImage {
  display: none;
  position: relative;
  max-width: min(1100px, 95%);
  aspect-ratio: 595 / 420;
  margin: 0 auto;
}

.teaserImageMobile {
  position: relative;
  max-width: min(1100px, 95%);
  aspect-ratio: 9 / 16;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .splashImage {
    aspect-ratio: 9 / 6;
  }

  .teaserImage {
    display: block;
  }
  .teaserImageMobile {
    display: none;
  }
}
