.homeContainer {
  text-align: center;
  max-width: min(2200px, 90%);
  margin: 0 auto;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.splashImage {
  position: relative;
  max-width: 920px;
  aspect-ratio: 2 / 3;
  margin: 0 auto;
  margin-bottom: 48px;
}

@media (min-width: 924px) {
  .info {
    gap: 24px;

    .address {
      border-left: 3px solid var(--foreground-secondary);
      padding-left: 24px;
    }
  }
}
