.homeContainer {
  text-align: center;
  max-width: min(2200px, 95%);
  margin: 0 auto;
}

.splashImage {
  position: relative;
  max-height: 750px;
  aspect-ratio: 4 / 5;
  margin: 0 auto;
  margin-bottom: 36px;

  figcaption {
    position: absolute;
    bottom: 0;
    background: hsla(var(--ivory-raw) / 0.7);
    padding: 4px 20px;
    width: 100%;

    // span {
    //   display: inline-block;
    //   text-align: justify;
    // }
  }
}

.teaserImage {
  display: none;
  position: relative;
  max-width: min(1100px, 95%);
  aspect-ratio: 595 / 420;
  margin: 0 auto;
}

.teaserImageMobile {
  position: relative;
  max-width: min(1100px, 95%);
  aspect-ratio: 9 / 16;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .splashImage {
    aspect-ratio: 9 / 6;
  }

  .teaserImage {
    display: block;
  }
  .teaserImageMobile {
    display: none;
  }
}
