.travelContainer {
  width: min(85%, 450px);
  margin: 0 auto;
  text-align: center;

  .header {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .travelCategory {
    margin-bottom: 80px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  }
}

.spot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .description {
    text-align: justify;
  }
}
