.travelContainer {
  width: min(85%, 450px);
  margin: 0 auto;

  .header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .travelInformation {
    text-align: center;

    .spot {
      margin-bottom: 80px;
    }
  }
}
