.weekendContainer {
  display: flex;
  flex-direction: column;
}

.calendarContainer {
  width: min(90%, 500px);
  margin: 0 auto;
}

.thingsBackground {
  background-color: var(--dark-orange);
  color: var(--ivory);
}

.thingsContainer {
  padding: 0 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  .category {
    ul {
      overflow-x: scroll;
      list-style: none;
      padding: 0;
      display: grid;
      gap: 8px;

      li {
        height: 150px;
        min-width: 200px;
        border-radius: 8px;
        background-color: var(--light-orange);
        color: var(--foreground-primary);
        display: grid;
        place-content: center;
      }
    }
  }
}
