// <Calendar />

.calendar {
  display: flex;
  flex-direction: column;
  gap: 55px;
  max-width: 400px;
}

// <Day />

h3.dayLabel {
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: 0;
}

.eventList {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// <CalendarEvent />

h2.eventTitle {
  color: var(--peach);
  text-transform: lowercase;
  margin: 1rem 0;
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.iconRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
