:root {
	--font-family-body: 'Fira Sans';
	--font-family-heading: 'Oxygen';
	--font-family-mono: 'Fira Code';

	--font-size-property-key: 0.625rem;

	--color-text-primary: #262526; /* #232923; */
	--color-text-secondary: #767676;
	--color-background: #ffffff;
	--color-background-secondary: #eaeaea;
	--color-accent: #bf8640;
	--color-hint: #dcd8c8;
	--color-card-bg: #1e2127;
	--color-card-fg: #98c379;
	--color-menu-bg: hsl(0deg 0% 90% / 90%);
	--color-rating: hsl(67deg 95% 40% / 85%);

	--border-radius: 6px;

	background: var(--color-background);
	color: var(--color-text-primary);
	font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
}

.prose {
	p {
		:not(:is(h2, h3, h4, h5, h6) + p) {
			margin-top: 1.5rem;
		}

		/* ignore paragraph tag around images */
		&:has(img) {
			display: contents;
		}
	}

	:is(h2, h3, h4, h5, h6) {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	:is(ul, ol) {
		list-style-type: '🔥';
		padding-left: 1.5rem;
	}

	:is(ul, ol) li {
		margin-block: 0.5rem;
		padding-inline-start: 0.75rem;
	}

	pre {
		max-inline-size: 100%;
		padding: 1rem;
		border-radius: 8px;
		tab-size: 2;
	}
}
