:root {
	--font-family-body: 'Fira Sans';
	--font-family-heading: 'Oxygen';
	--font-family-mono: 'Fira Code';

	--font-size-property-key: 0.625rem;

	--color-text-primary: #262526; /* #232923; */
	--color-text-secondary: #767676;
	--color-background: #ffffff;
	--color-accent: #bf8640;
	--color-hint: #dcd8c8;
	--color-card-bg: #1e2127;
	--color-card-fg: #98c379;
	--color-menu-bg: hsl(0deg 0% 90% / 90%);
	--color-rating: hsl(67deg 95% 40% / 85%);

	--border-radius: 6px;

	background: var(--color-background);
	color: var(--color-text-primary);
	font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
}
