html,
body {
  padding: 0;
  margin: 0;
  font-family: var(
    --font-family-body,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --font-family-body: 'Fira Sans';
  --font-family-heading: Oxygen;

  --mountain-grey-50: #808080;
  --mountain-grey-70: #545454;

  --mountain-snow-50: #6c7e93;
  --mountain-snow-100: #1f3247;
}
