.headingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
}

.splashImage {
  background: url('/mt-evans.jpg');
  background-size: cover;
  background-position: 66%;
  height: 600px;
}
