.rsvpForm {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.formItem {
  width: 100%;
  display: flex;
  flex-direction: column;
}
