html,
body {
  padding: 0;
  margin: 0;
  font-family: var(
    --font-family-body,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif
  );

  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin: 0;
}

:root,
html {
  --font-family-body: var(--catamaran-font);
  --font-family-heading: var(--fiona-font);

  --snow-0: hsla(213, 44%, 95.1%, 1);
  --snow-10: hsla(211, 41.2%, 90%, 1);
  --snow-20: hsla(211, 40.3%, 84.9%, 1);
  --snow-40: hsla(212, 40.2%, 75.1%, 1);
  --snow-50: hsla(212, 34.6%, 70%, 1);
  --snow-70: hsla(213, 24.9%, 55.1%, 1);
  --snow-90: hsla(212, 34.6%, 30%, 1);
  --snow-100: hsla(212, 39.2%, 20%, 1);
  --sunset-0: hsla(40, 60%, 95.1%, 1);
  --sunset-10: hsla(39, 60.5%, 85.1%, 1);
  --sunset-20: hsla(33, 50%, 74.9%, 1);
  --sunset-40: hsla(33, 50%, 60%, 1);
  --sunset-50: hsla(33, 49.8%, 50%, 1);
  --sunset-70: hsla(33, 50%, 40%, 1);
  --sunset-90: hsla(33, 50.3%, 30%, 1);
  --sunset-100: hsla(33, 51%, 20%, 1);
  --grey-10: hsla(0, 0%, 93.3%, 1);
  --grey-20: hsla(0, 0%, 86.7%, 1);
  --grey-40: hsla(0, 0%, 66.7%, 1);
  --grey-50: hsla(0, 0%, 50.2%, 1);
  --grey-70: hsla(0, 0%, 32.9%, 1);
  --grey-90: hsla(0, 0%, 20%, 1);

  --champagne-pink: hsl(25deg 58% 80%);
  --lime: hsl(122deg 53% 26%);

  --light-moss: hsl(75deg 26% 38%);
  --dark-moss: hsl(75deg 26% 28%);

  --light-orange: hsl(46deg 65% 52%);
  --orange: hsl(30deg 100% 47%);
  --dark-orange: hsl(25deg 100% 31%);

  --ivory-raw: 60deg 100% 97%;
  --ivory: hsl(var(--ivory-raw));

  --background-primary: var(--ivory);
  --foreground-primary: black;
  --foreground-inverse: var(--ivory);
  --foreground-pink: hsl(330deg, 100%, 75%);

  --swiper-navigation-size: 3rem;
  --swiper-theme-color: var(--orange);
}

html[data-theme='dark'] {
  --background-primary: #101010;
  --foreground-primary: var(--champagne-pink);
  --foreground-pink: hsl(330deg, 100%, 75%);
}

.link {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}
