@media (min-width: 550px) {
  .navbar {
    display: none;
  }
}

.mobileNavHamburger {
  background: none;
  border: none;
  position: fixed;
  top: 20px;
  left: 32px;
  z-index: 101;
  padding: 0;
  color: black;
}

.mobileNavHamburger > svg {
  display: block;
}

.mobileNavWrapper {
  position: fixed;
  inset: 0px;
  background: hsl(0deg, 0%, 100%);
  z-index: 100;
}

.mobileNav {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

.mobileNav ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.mobileNav ul li {
  padding: 24px 0;
  font-family: var(--font-family-heading, var(--system-font));
  font-weight: 700;
  font-size: 1.25rem;
}
