@import "./shared/styles/reset.scss";
@import "./shared/styles/mixins.scss";

.app {
  font-family: "Open Sans",inter ui,-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
  color: $primary-color;
  line-height: 200%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

