.navbar {
  display: none;
}

@media (min-width: 550px) {
  .navbar {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.navbar ul {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar ul li {
  font-family: var(--font-family-heading, var(--system-font));
  font-size: 1.5rem;
}
