@media (min-width: 550px) {
  .navbar {
    display: none;
  }
}

.mobileNavHamburger {
  background: none;
  border: none;
  position: absolute;
  top: 14px;
  left: 28px;
  z-index: 3;
  padding: 0;
  color: var(--foreground-primary);
}

.mobileNavHamburger > svg {
  display: block;
}

.mobileNavWrapper {
  position: fixed;
  inset: 0px;
  background: var(--background-primary);
  z-index: 2;
}

.mobileNav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}

.mobileNav ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.mobileNav ul li {
  padding: 24px 0;
  font-family: var(--font-family-heading, var(--system-font));
  font-size: 1.25rem;
  text-transform: lowercase;
}
