.faq {
  margin-bottom: 20px;

  .faqToggle {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    width: 100%;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .answer {
    overflow: hidden;
    padding-inline: 10px;
  }

  &:not(:last-of-type):after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--grey-60);
    margin-top: 20px;
  }
}
