.rsvpForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formItem {
  width: 100%;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 4px;
  }
}

.foundInvite {
  margin: 1em 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rowItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  align-self: flex-end;
}

.golfContainer {
  padding: 1rem 0 1rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
