.headerWrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 0;
}

@media (min-width: 550px) {
  .headerWrapper {
    height: auto;
  }
}

.header {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
