.small {
  --button-padding: 0 20px;
  --button-offset: 1px;
}

.medium {
  --button-padding: 10px 20px;
  --button-offset: 2px;
}

.primary {
  background-color: var(--peach);
  color: var(--foreground-inverse);

  cursor: pointer;
  touch-action: manipulation;

  padding: var(--button-padding);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

@media (hover: hover) {
  .primary:hover {
    background-color: var(--peach-hover);
  }
}

.primary:active {
  background-color: var(--peach-press);
}

.secondary {
  background-color: transparent;
  color: var(--peach);

  cursor: pointer;
  touch-action: manipulation;

  padding: var(--button-padding);
  border-radius: 4px;
  border: 1px solid var(--peach);

  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

@media (hover: hover) {
  .secondary:hover {
    background-color: hsla(0deg 0% 100% / 5%);
  }
}

.secondary:active {
  background-color: hsla(0deg 0% 100% / 10%);
}
